.transition-container {
    width: 100%;
    height: 100%;
    position: relative;
    background: #ffffff;
    overflow-y: hidden;
    overflow-x: hidden;
}

.rightload {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    overflow: auto;

}

/* SECTION 1 */

#loadout1sub1 {
    overflow-y: hidden;
}

#loadout1sub1 #sketch-holder {
    background: #ffffff;
    width: 60vw;
    height: 60vw;
    position: absolute;
    left: 3vw;
    top: 7.5vh;
    padding: 1%;
}

#loadout1sub1 .overall-sliders-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 3vw;
    top: 5vh;
    width: 30vw;
    height: 45vh;
}

#loadout1sub1 .partial-sliders-container {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
}

#loadout1sub1 .slider {
    display: flex;
    align-items: center;
    flex: 1 1 0;
}

#loadout1sub1 .sliderMin, #loadout1sub1 .sliderMax {
    margin-top: 30px;
    width: 60px;
    flex: 0 0 60px;
    text-align: center;
    line-height: 40px;
    vertical-align: middle;
}

#loadout1sub1 .inputs {
    height: 40px;
    flex: 1 1 auto;
}

#loadout1sub1 .slider-label {
    display: flex;
    font-size: calc(12px + 1vw);
    text-align: left;
    padding-left: 8px;
    margin: 0;
    padding-top: 0;
    flex: 0.5 1 0;
}

#loadout1sub1 .innerLabel {
    flex: 1 0 auto;
}

#loadout1sub1 #YR, #loadout1sub1 #ZR {
    flex: 0.5 0 auto;
}

#loadout1sub1 .overall-buttons-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 3vw;
    bottom: 5vh;
    width: 30vw;
    height: 45vh;
}

#loadout1sub1 .partial-buttons-container {
    display: flex;
    flex-direction: row;
    flex: 1 1 0;
    align-items: stretch;
    justify-content: space-around;
}

#loadout1sub1 button {
    text-align: center;
    font-size: calc(7px + 0.6vw);
    border: solid 1px #033482;
    color: #033482;
    box-shadow: none;
    flex: 0 1 auto;
}

#loadout1sub1 button:hover {
    background-color: #eaf2ff;
}

#loadout1sub2 {
    overflow-y: hidden;
}

#loadout1sub2 #sketch-holder {
    background: #ffffff;
    width: 60vw;
    height: 60vw;
    position: absolute;
    left: 3vw;
    top: 7.5vh;
    padding: 1%;
}

#loadout1sub2 .overall-sliders-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 3vw;
    top: 5vh;
    width: 30vw;
    height: 45vh;
}

#loadout1sub2 .partial-sliders-container {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
}

#loadout1sub2 .slider {
    display: flex;
    align-items: center;
    flex: 1 1 0;
}

#loadout1sub2 .sliderMin, #loadout1sub2 .sliderMax {
    margin-top: 30px;
    width: 60px;
    flex: 0 0 60px;
    text-align: center;
    line-height: 40px;
    vertical-align: middle;
}

#loadout1sub2 .inputs {
    height: 40px;
    flex: 1 1 auto;
}

#loadout1sub2 .slider-label {
    display: flex;
    font-size: calc(12px + 1vw);
    text-align: left;
    padding-left: 8px;
    margin: 0;
    padding-top: 0;
    flex: 0.5 1 0;
}

#loadout1sub2 .innerLabel {
    flex: 1 0 auto;
}

#loadout1sub2 #YR, #loadout1sub2 #ZR {
    flex: 0.5 0 auto;
}

#loadout1sub2 .overall-buttons-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 3vw;
    bottom: 5vh;
    width: 30vw;
    height: 45vh;
}

#loadout1sub2 .partial-buttons-container {
    display: flex;
    flex-direction: row;
    flex: 1 1 0;
    align-items: stretch;
    justify-content: space-around;
}

#loadout1sub2 button {
    text-align: center;
    font-size: calc(7px + 0.6vw);
    border: solid 1px #033482;
    color: #033482;
    box-shadow: none;
    flex: 0 1 auto;
}

#loadout1sub2 button:hover {
    background-color: #eaf2ff;
}

/* SECTION 2 */

#loadout2sub1 {
    overflow-y: hidden;
}

#loadout2sub1 #graph-holder1 {
    background: #ffffff;
    width: 90vw;
    height: 50vh;
    position: absolute;
    left: 5vw;
    top: 10vh;
    padding: 1%;
}

#loadout2sub1 #graph-holder2 {
    background: #ffffff;
    width: 45vw;
    height: 30vh;
    position: absolute;
    right: 5vw;
    bottom: 5vh;
    padding: 1%;
}

#loadout2sub1 .overall-sliders-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 5vw;
    bottom: 5vh;
    width: 45vw;
    height: 25vh;
}

#loadout2sub1 .slider {
    display: flex;
    align-items: center;
    flex: 1 1 0;
}

#loadout2sub1 .sliderMin, #loadout2sub1 .sliderMax {
    margin-top: 30px;
    width: 60px;
    flex: 0 0 60px;
    text-align: center;
    line-height: 40px;
    vertical-align: middle;
}

#loadout2sub1 .inputs {
    height: 40px;
    flex: 1 1 auto;
}

#loadout2sub1 .slider-label {
    display: flex;
    font-size: calc(12px + 1vw);
    text-align: left;
    padding-left: 8px;
    margin: 0;
    padding-top: 0;
    flex: 0.5 1 0;
}

#loadout2sub1 .innerLabel {
    flex: 1 0 auto;
}

#loadout2sub1 .partial-buttons-container {
    display: flex;
    flex-direction: row;
    flex: 1 1 0;
    align-items: stretch;
    justify-content: space-around;
    position: absolute;
    left: 5vw;
    top: 5vh;
    width: 90vw;
    height: 5vh;
}

#loadout2sub1 button {
    text-align: center;
    font-size: calc(7px + 0.6vw);
    border: solid 1px #033482;
    color: #033482;
    box-shadow: none;
    flex: 0 1 auto;
}

#loadout2sub1 button:hover {
    background-color: #eaf2ff;
}


#loadout2sub2 {
    overflow: hidden;
}

#loadout2sub2 #graph-holder {
    width: 95vw;
    height: 75vh;
    position: absolute;
    left: 2.5vw;
    top: 5vh;
}

#loadout2sub2 .overall-sliders-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 4vh;
    left: 2.5vw;
    width: 95vw;
    height: 10vh;
}

#loadout2sub2 .partial-sliders-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
}

#loadout2sub2 .slider-label {
    font-size: calc(10px + 0.8vw);
    flex-basis: auto;
    flex-grow: 0.3;
    flex-shrink: 1;
    margin: 0;
    padding: 0;
    text-align: center;
}

#loadout2sub2 .slider {
    margin-top: 10px;
    display: flex;
    align-items: center;
    flex: 1 0 auto;
}

#loadout2sub2 .sliderMin, #loadout2sub2 .sliderMax {
    margin-top: 30px;
    width: 40px;
    flex: 0 0 40px;
    text-align: center;
    line-height: 40px;
    vertical-align: middle;
}

#loadout2sub2 .inputs {
    height: 40px;
    flex: 1 1 auto;
}

#loadout2sub3 {
    overflow-y: hidden;
}

#loadout2sub3 #graph-holder {
    background: #ffffff;
    width: 70vw;
    height: 100vh;
    position: absolute;
    left: 15vw;
    top: 0;
    padding: 1%;
}

#loadout2sub3 .partial-buttons-container {
    display: flex;
    flex-direction: row;
    flex: 1 1 0;
    align-items: stretch;
    justify-content: space-around;
    position: absolute;
    left: 5vw;
    top: 5vh;
    width: 90vw;
    height: 5vh;
}

#loadout2sub3 button {
    text-align: center;
    font-size: calc(7px + 0.6vw);
    border: solid 1px #033482;
    color: #033482;
    box-shadow: none;
    flex: 0 1 auto;
}

#loadout2sub3 button:hover {
    background-color: #eaf2ff;
}

/* SECTION 3 */

#loadout3sub1 #graph-holder {
    background: #ffffff;
    width: 60vw;
    height: 85vh;
    position: absolute;
    left: 3vw;
    top: 0;
    padding: 1%;
}

#loadout3sub1 .overall-radio-container {
    display: flex;
    flex-direction: row;
    width: 30vw;
    height: 30vh;
    position: absolute;
    top: 5vh;
    right: 3vw;
}

#loadout3sub1 .partial-radio-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    flex: 1 1 0;
}

#loadout3sub1 .radio-label {
    font-size: calc(12px + 1vw);
    text-align: left;
    padding-left: 8px;
    margin: 0 0 4vh;
    padding-top: 0;
    flex: 0 0 auto;
    left: 0;
}

#loadout3sub1 .radio {
    display: flex;
    align-items: center;
    flex: 0 0 auto;
    margin-bottom: 2vh;
    margin-left: 1vw;
    font-size: calc(8px + 0.7vw);
}

#loadout3sub1 .radio input {
    margin: 0 30px 0 0;
}

#loadout3sub1 .overall-sliders-container {
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: 60vh;
    position: absolute;
    bottom: 5vh;
    right: 3vw;
}

#loadout3sub1 .partial-sliders-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex: 1 1 0;
}

#loadout3sub1 .slider-label {
    font-size: calc(12px + 1vw);
    text-align: left;
    padding-left: 8px;
    margin: 0;
    padding-top: 0;
    flex: 0.5 1 0;
    left: 0;
}

#loadout3sub1 .slider {
    display: flex;
    align-items: center;
    flex: 1 0 0;
}

#loadout3sub1 .sliderMin, #loadout3sub1 .sliderMax {
    margin-top: 30px;
    width: 40px;
    flex: 0 0 40px;
    text-align: center;
    line-height: 40px;
    vertical-align: middle;
}

#loadout3sub1 .inputs {
    height: 40px;
    flex: 1 1 auto;
}

#loadout3sub2 #graph-holder {
    background: #ffffff;
    width: 60vw;
    height: 85vh;
    position: absolute;
    left: 3vw;
    top: 0;
    padding: 1%;
}

#loadout3sub2 .overall-radio-container {
    display: flex;
    flex-direction: row;
    width: 30vw;
    height: 30vh;
    position: absolute;
    top: 5vh;
    right: 3vw;
}

#loadout3sub2 .partial-radio-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    flex: 1 1 0;
}

#loadout3sub2 .radio-label {
    font-size: calc(12px + 1vw);
    text-align: left;
    padding-left: 8px;
    margin: 0 0 4vh;
    padding-top: 0;
    flex: 0 0 auto;
    left: 0;
}

#loadout3sub2 .radio {
    display: flex;
    align-items: center;
    flex: 0 0 auto;
    margin-bottom: 2vh;
    margin-left: 1vw;
    font-size: calc(8px + 0.7vw);
}

#loadout3sub2 .radio input {
    margin: 0 30px 0 0;
}

#loadout3sub2 .overall-sliders-container {
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: 60vh;
    position: absolute;
    bottom: 5vh;
    right: 3vw;
}

#loadout3sub2 .partial-sliders-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex: 1 1 0;
}

#loadout3sub2 .slider-label {
    font-size: calc(12px + 1vw);
    text-align: left;
    padding-left: 8px;
    margin: 0;
    padding-top: 0;
    flex: 0.5 1 0;
    left: 0;
}

#loadout3sub2 .slider {
    display: flex;
    align-items: center;
    flex: 1 0 0;
}

#loadout3sub2 .sliderMin, #loadout3sub2 .sliderMax {
    margin-top: 30px;
    width: 40px;
    flex: 0 0 40px;
    text-align: center;
    line-height: 40px;
    vertical-align: middle;
}

#loadout3sub2 .inputs {
    height: 40px;
    flex: 1 1 auto;
}

/* SECTION 4 */

#loadout4sub1 {
}

#loadout4sub1 #graph-holder {
    width: 45vw;
    height: 85vh;
    position: absolute;
    left: 2.5vw;
    top: 2.5vh;
}

#loadout4sub1 #graph_n-holder {
    width: 45vw;
    height: 65vh;
    position: absolute;
    right: 2.5vw;
    top: 2.5vh;
}

#loadout4sub1 #graph_disp-holder {
    display: none;
    width: 45vw;
    height: 65vh;
    position: absolute;
    right: 2.5vw;
    top: 2.5vh;
}

#loadout4sub1 #gnContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 45vw;
    height: 10vh;
    position: absolute;
    left: 2.5vw;
    bottom: 2.5vh;
    padding-left: 2vw;
}

#loadout4sub1 #graph-note {
    font-size: calc(8px + 0.7vw);
}

#loadout4sub1 .inputsContainer {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    position: absolute;
    right: 2.5vw;
    bottom: 2.5vh;
    width: 45vw;
    height: 25vh;
}

#loadout4sub1 .overall-sliders-container {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

#loadout4sub1 .partial-sliders-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex: 1 1 0;
}

#loadout4sub1 .slider-label {
    font-size: calc(12px + 1vw);
    text-align: left;
    padding-left: 8px;
    margin: 0;
    padding-top: 0;
    flex: 0.5 1 0;
}

#loadout4sub1 .slider {
    display: flex;
    align-items: center;
    flex: 1 0 0;
}


#loadout4sub1 .sliderMin, #loadout4sub1 .sliderMax {
    margin-top: 30px;
    width: 40px;
    flex: 0 0 40px;
    text-align: center;
    line-height: 40px;
    vertical-align: middle;
}

#loadout4sub1 .inputs {
    height: 40px;
    flex: 1 1 auto;
}

#loadout4sub1 .partial-buttons-container {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    align-items: center;
    justify-content: space-around;
}

#loadout4sub1 button {
    text-align: center;
    font-size: calc(7px + 0.6vw);
    border: solid 1px #033482;
    color: #033482;
    box-shadow: none;
    flex: 0 1 auto;
}

#loadout4sub1 button:hover {
    background-color: #eaf2ff;
}

#loadout4sub2 {
    overflow: hidden;
}

#loadout4sub2 #graph-holder {
    width: 45vw;
    height: 80vh;
    position: absolute;
    left: 2.5vw;
    top: 2.5vh;
}

#loadout4sub2 #graph_phi-holder {
    display: none;
    width: 45vw;
    height: 55vh;
    position: absolute;
    right: 2.5vw;
    top: 2.5vh;
}

#loadout4sub2 #graph_disp-holder {
    width: 45vw;
    height: 55vh;
    position: absolute;
    right: 2.5vw;
    top: 2.5vh;
}

#loadout4sub2 #gnContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 45vw;
    height: 10vh;
    position: absolute;
    left: 2.5vw;
    bottom: 5vh;
    padding-left: 2vw;
}

#loadout4sub2 #graph-note {
    font-size: calc(8px + 0.7vw);
}

#loadout4sub2 .inputsContainer {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    position: absolute;
    right: 2.5vw;
    bottom: 2.5vh;
    width: 45vw;
    height: 35vh;
}

#loadout4sub2 .overall-sliders-container {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

#loadout4sub2 .partial-sliders-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex: 1 1 0;
}

#loadout4sub2 .slider-label {
    font-size: calc(12px + 1vw);
    text-align: left;
    padding-left: 8px;
    margin: 0;
    padding-top: 0;
    flex: 0.5 1 0;
}

#loadout4sub2 .slider {
    display: flex;
    align-items: center;
    flex: 1 0 0;
}


#loadout4sub2 .sliderMin, #loadout4sub2 .sliderMax {
    margin-top: 30px;
    width: 60px;
    flex: 0 0 60px;
    text-align: center;
    line-height: 40px;
    vertical-align: middle;
}

#loadout4sub2 .inputs {
    height: 40px;
    flex: 1 1 auto;
}

#loadout4sub2 .partial-buttons-container {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    align-items: center;
    justify-content: space-around;
}

#loadout4sub2 button {
    text-align: center;
    font-size: calc(7px + 0.6vw);
    border: solid 1px #033482;
    color: #033482;
    box-shadow: none;
    flex: 0 1 auto;
}

#loadout4sub2 button:hover {
    background-color: #eaf2ff;
}

#loadout4sub3 {
    overflow: hidden;
}

#loadout4sub3 #threeD-graph-holder {
    width: 45vw;
    height: 65vh;
    position: absolute;
    left: 2.5vw;
    top: 2.5vh;
}

#loadout4sub3 #dispersion-graph-holder {
    width: 45vw;
    height: 55vh;
    position: absolute;
    right: 5vw;
    top: 10vh;
}

#loadout4sub3 .inputsContainer {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
}

#loadout4sub3 #iC1 {
    position: absolute;
    left: 2.5vw;
    bottom: 2.5vh;
    width: 45vw;
    height: 40vh;
}

#loadout4sub3 #iC2 {
    position: absolute;
    right: 2.5vw;
    bottom: 2.5vh;
    width: 45vw;
    height: 25vh;
}

#loadout4sub3 .overall-sliders-container {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

#loadout4sub3 .partial-sliders-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex: 1 1 0;
}

#loadout4sub3 .slider-label {
    font-size: calc(12px + 1vw);
    text-align: left;
    padding-left: 8px;
    margin: 0;
    padding-top: 0;
    flex: 0.5 1 0;
}

#loadout4sub3 .slider {
    display: flex;
    align-items: center;
    flex: 1 0 0;
}


#loadout4sub3 .sliderMin, #loadout4sub3 .sliderMax {
    margin-top: 30px;
    width: 60px;
    flex: 0 0 60px;
    text-align: center;
    line-height: 40px;
    vertical-align: middle;
}

#loadout4sub3 .inputs {
    height: 40px;
    flex: 1 1 auto;
}

#loadout4sub3 .partial-buttons-container {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    align-items: center;
    justify-content: space-around;
}

#loadout4sub3 button {
    text-align: center;
    font-size: calc(7px + 0.6vw);
    border: solid 1px #033482;
    color: #033482;
    box-shadow: none;
    flex: 0 1 auto;
}

#loadout4sub3 button:hover {
    background-color: #eaf2ff;
}

/* SECTION 5 */

#loadout5sub1 {
    overflow: hidden;
}

#loadout5sub1 #graph-holder {
    width: 45vw;
    height: 70vh;
    position: absolute;
    left: 2.5vw;
    top: 2.5vh;
}

#loadout5sub1 #graph_fresnel-holder {
    width: 45vw;
    height: 60vh;
    position: absolute;
    right: 2.5vw;
    top: 5vh;
}

#loadout5sub1 .inputsContainer {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-around;
}

#loadout5sub1 .innerInputsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#loadout5sub1 #iC1 {
    position: absolute;
    left: 2.5vw;
    bottom: 2.5vh;
    width: 45vw;
    height: 20vh;
}

#loadout5sub1 #iC2 {
    position: absolute;
    right: 2.5vw;
    bottom: 2.5vh;
    width: 45vw;
    height: 25vh;
}

#loadout5sub1 .overall-sliders-container {
    display: flex;
    flex-direction: column;
    flex: 0.2 0 auto;
}

#loadout5sub1 .partial-sliders-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex: 1 1 0;
}

#loadout5sub1 .slider-label {
    font-size: calc(12px + 1vw);
    text-align: left;
    padding-left: 8px;
    margin: 0;
    padding-top: 0;
    flex: 0.5 1 0;
}

#loadout5sub1 .slider {
    display: flex;
    align-items: center;
    flex: 1 0 0;
}

#loadout5sub1 .sliderMin, #loadout5sub1 .sliderMax {
    margin-top: 30px;
    width: 60px;
    flex: 0 0 60px;
    text-align: center;
    line-height: 40px;
    vertical-align: middle;
}

#loadout5sub1 .inputs {
    height: 40px;
    flex: 1 1 auto;
}

#loadout5sub1 .partial-radio-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    flex: 1 0 auto;
}

#loadout5sub1 .radio-label {
    font-size: calc(12px + 1vw);
    text-align: left;
    padding-left: 0;
    margin: 0;
    padding-top: 0;
    flex: 0 0 auto;
    left: 0;
}

#loadout5sub1 .radio {
    display: flex;
    align-items: center;
    flex: 0 0 auto;
    margin-left: 2vw;
    font-size: calc(8px + 0.7vw);
}

#loadout5sub1 .radio input {
    margin: 0 30px 0 0;
}

#loadout5sub1 .partial-buttons-container {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    align-items: center;
    justify-content: space-around;
}

#loadout5sub1 button {
    text-align: center;
    font-size: calc(7px + 0.6vw);
    border: solid 1px #033482;
    color: #033482;
    box-shadow: none;
    flex: 0 1 auto;
}

#loadout5sub1 button:hover {
    background-color: #eaf2ff;
}

#loadout5sub1 .angle-container {
    display: flex;
    flex-direction: row;
    font-size: calc(12px + 1vw);
}

#loadout5sub1 .angle-display {
    flex: 1 0 0;
}

#loadout5sub2 {
    overflow: hidden;
}

#loadout5sub2 #graph-holder {
    width: 95vw;
    height: 70vh;
    position: absolute;
    left: 2.5vw;
    top: 2.5vh;
}

#loadout5sub2 .inputsContainer {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-around;
}

#loadout5sub2 #iC1 {
    position: absolute;
    left: 5vw;
    bottom: 5vh;
    width: 45vw;
    height: 25vh;
}

#loadout5sub2 #iC2 {
    position: absolute;
    right: 2.5vw;
    bottom: 2.5vh;
    width: 45vw;
    height: 25vh;
}

#loadout5sub2 .overall-sliders-container {
    display: flex;
    flex-direction: column;
    flex: 0.2 0 auto;
}

#loadout5sub2 .partial-sliders-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex: 1 1 0;
}

#loadout5sub2 .slider-label {
    font-size: calc(12px + 1vw);
    text-align: left;
    padding-left: 8px;
    margin: 0;
    padding-top: 0;
    flex: 0.5 1 0;
}

#loadout5sub2 .slider {
    display: flex;
    align-items: center;
    flex: 1 0 0;
}

#loadout5sub2 .sliderMin, #loadout5sub2 .sliderMax {
    margin-top: 30px;
    width: 60px;
    flex: 0 0 60px;
    text-align: center;
    line-height: 40px;
    vertical-align: middle;
}

#loadout5sub2 .inputs {
    height: 40px;
    flex: 1 1 auto;
}

#loadout5sub2 .partial-radio-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    flex: 1 0 auto;
}

#loadout5sub2 .radio-label {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    font-size: calc(12px + 1vw);
    text-align: left;
    padding-left: 0;
    margin: 0;
    padding-top: 0;
    flex: 0 0 auto;
    left: 0;
}

#loadout5sub2 .radio {
    display: flex;
    align-items: center;
    flex: 0 0 auto;
    margin-left: 2vw;
    font-size: calc(8px + 0.7vw);
}

#loadout5sub2 .radio input {
    margin: 0 30px 0 0;
}

#loadout5sub2 .partial-buttons-container {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    align-items: center;
    justify-content: space-around;
}

#loadout5sub2 button {
    text-align: center;
    font-size: calc(7px + 0.6vw);
    border: solid 1px #033482;
    color: #033482;
    box-shadow: none;
    flex: 0 1 auto;
}

#loadout5sub2 button:hover {
    background-color: #eaf2ff;
}

#loadout5sub2 .angle-container {
    display: flex;
    flex-direction: row;
    font-size: calc(12px + 1vw);
}

#loadout5sub2 .angle-display {
    flex: 1 0 0;
    padding-top: 1.5vh;
}

#loadout5sub3 {
    overflow: hidden;
}

#loadout5sub3 .leftGraphContainer {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: absolute;
    top: 2.5vh;
    left: 2.5vw;
    width: 45vw;
    height: 75vh;
}

#loadout5sub3 #graph_sum {
    flex: 0.5 0 0;
}

#loadout5sub3 #graph_individual {
    padding-top: 2vh;
    flex: 1 0 0;
}

#loadout5sub3 .rightGraphContainer {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 2.5vh;
    right: 2.5vw;
    width: 45vw;
    height: 50vh;
}

#loadout5sub3 #graph_transmission {
    padding-bottom: 2vh;
    flex: 1 0 0;
}

#loadout5sub3 #graph_amplitude {
    padding-top: 2vh;
    flex: 1 0 0;
}

#loadout5sub3 .inputsContainer {
    display: flex;
    align-items: stretch;
    justify-content: space-around;
}

#loadout5sub3 #iC1 {
    flex-direction: row;
    position: absolute;
    left: 2.5vw;
    bottom: 2.5vh;
    width: 45vw;
    height: 15vh;
}

#loadout5sub3 #iC2 {
    flex-direction: column;
    position: absolute;
    right: 2.5vw;
    bottom: 2.5vh;
    width: 45vw;
    height: 40vh;
}

#loadout5sub3 .overall-sliders-container {
    display: flex;
    flex-direction: column;
    flex: 0.2 0 auto;
}

#loadout5sub3 .partial-sliders-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex: 1 1 0;
}

#loadout5sub3 .slider-label {
    font-size: calc(12px + 1vw);
    text-align: left;
    padding-left: 8px;
    margin: 0;
    padding-top: 0;
    flex: 0.5 1 0;
}

#loadout5sub3 .slider {
    display: flex;
    align-items: center;
    flex: 1 0 0;
}

#loadout5sub3 .sliderMin, #loadout5sub3 .sliderMax {
    margin-top: 30px;
    width: 60px;
    flex: 0 0 60px;
    text-align: center;
    line-height: 40px;
    vertical-align: middle;
}

#loadout5sub3 .inputs {
    height: 40px;
    flex: 1 1 auto;
}

#loadout5sub3 .partial-buttons-container {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    align-items: center;
    justify-content: space-around;
}

#loadout5sub3 button {
    text-align: center;
    font-size: calc(7px + 0.6vw);
    border: solid 1px #033482;
    color: #033482;
    box-shadow: none;
    flex: 0 1 auto;
}

#loadout5sub3 button:hover {
    background-color: #eaf2ff;
}

#loadout5sub3 .coefficient-container {
    display: flex;
    flex-direction: column;
    font-size: calc(8px + 0.7vw);
}

#loadout5sub3 .coefficient-display {
    flex: 1 0 0;
    padding-top: 1.5vh;
}

/* SECTION 6 */

#loadout6 {
    overflow: hidden;
}

#loadout6 #graph-holder {
    width: 60vw;
    height: 90vh;
    position: absolute;
    left: 2.5vw;
    top: 2.5vh;
}

#loadout6 .inputsContainer {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-around;
    position: absolute;
    right: 2.5vw;
    top: 2.5vh;
    width: 30vw;
    height: 40vh;
}

#loadout6 .partial-radio-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    flex: 1 1 auto;
}

#loadout6 .radio-label {
    font-size: calc(12px + 1vw);
    text-align: left;
    padding-left: 8px;
    margin: 2vh 0;
    padding-top: 0;
    flex: 0 0 auto;
    left: 0;
}

#loadout6 .radio {
    display: flex;
    align-items: center;
    flex: 0 0 auto;
    margin-bottom: 2vh;
    margin-left: 1vw;
    font-size: calc(8px + 0.7vw);
}

#loadout6 .radio input {
    margin: 0 30px 0 0;
}

#loadout6 .innerInputsContainer {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    align-items: center;
    justify-content: space-around;
}

#loadout6 .param-container {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    align-items: flex-start;
    justify-content: space-around;
}

#loadout6 .param-display {
    font-size: calc(7px + 0.6vw);
    flex: 1 0 0;
}

#loadout6 .overall-sliders-container {
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: 50vh;
    position: absolute;
    bottom: 2.5vh;
    right: 2.5vw;
}

#loadout6 .partial-sliders-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex: 1 1 0;
}

#loadout6 .slider-label {
    font-size: calc(12px + 1vw);
    text-align: left;
    padding-left: 8px;
    margin: 0;
    padding-top: 0;
    flex: 0.5 1 0;
    left: 0;
}

#loadout6 .slider {
    display: flex;
    align-items: center;
    flex: 1 0 0;
}

#loadout6 .sliderMin, #loadout6 .sliderMax {
    margin-top: 30px;
    width: 40px;
    flex: 0 0 40px;
    text-align: center;
    line-height: 40px;
    vertical-align: middle;
}

#loadout6 .inputs {
    height: 40px;
    flex: 1 1 auto;
}

#loadout6 .partial-buttons-container {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    align-items: center;
    justify-content: space-around;
}

#loadout6 button {
    text-align: center;
    font-size: calc(7px + 0.6vw);
    border: solid 1px #033482;
    color: #033482;
    box-shadow: none;
    flex: 0 1 auto;
}

#loadout6 button:hover {
    background-color: #eaf2ff;
}

#loadout6 #approximationMessage {
    width: 60vw;
    height: 5vh;
    position: absolute;
    bottom: 2.5vh;
    left: 2.5vw;
    border: 3px solid #FF0000;
    line-height: 5vh;
    text-align: center;
    vertical-align: middle;
}

#loadoutblank {
    text-align: center;
    line-height: 100vh;
    vertical-align: middle;
    font-size: 30pt;
}

/* SECTION 7 */

#loadout7 {
    overflow: hidden;
}

#loadout7 #graph-holder {
    width: 60vw;
    height: 90vh;
    position: absolute;
    left: 2.5vw;
    top: 2.5vh;
}

#loadout7 .overall-sliders-container {
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: 90vh;
    position: absolute;
    bottom: 2.5vh;
    right: 2.5vw;
}

#loadout7 .partial-sliders-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex: 1 1 0;
}

#loadout7 .slider-label {
    font-size: calc(12px + 1vw);
    text-align: left;
    padding-left: 8px;
    margin: 0;
    padding-top: 0;
    flex: 0.5 1 0;
    left: 0;
}

#loadout7 .slider {
    display: flex;
    align-items: center;
    flex: 1 0 0;
}

#loadout7 .sliderMin, #loadout7 .sliderMax {
    margin-top: 30px;
    width: 40px;
    flex: 0 0 40px;
    text-align: center;
    line-height: 40px;
    vertical-align: middle;
}

#loadout7 .inputs {
    height: 40px;
    flex: 1 1 auto;
}

/* SECTION 8 */

#loadout8 {
    overflow: hidden;
}

#loadout8 .radioButtonContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 90vw;
    height: 10vh;
    position: absolute;
    left: 5vw;
    bottom: 4vh;
}

#loadout8 .radio {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
    margin: 0;
}

#loadout8 .radio * {
    margin: 0;
}

#loadout8 .radio-text {
    font-size: calc(10px + 1.2vw);
    margin-left: 2vw;
}

#loadout8 .imageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90vw;
    height: 80vh;
    position: absolute;
    left: 5vw;
    top: 4vh;
}

#loadout8 .imageContainer img {
    height: 100%;
}